.transfer-option-title {
  font-size: 13px;
  font-weight: bold;
}

.transfer-option-data {
  font-size: 12px;
}

.transfer-option-price {
  font-size: 12px;
}

.transfer-option {
  display: flex;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.transfer-option-card {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.transfer-option-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
