:host {
  --circle-size: 20px;
}

p {
  font-size: 14px;
}

.customTooltip {
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: var(--circle-size);
  height: var(--circle-size);
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  vertical-align: middle;
  left: 5px;
  cursor: pointer;
}

.customTooltip:hover {
  background-color: grey;
  color: white;
}

.one-time-transfer-form .col-form-label {
  font-size: 15px;
}

