.customTooltip {
  position: relative;
  border: 1px solid grey;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 10px;
  line-height: 50%;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  vertical-align: middle;
}

.customTooltip:hover {
  background-color: grey;
  color: white;
}

