<form class="one-time-transfer-form" [formGroup]="transferForm" (ngSubmit)="handleSubmit()">
  <div class="form-group row">
    <label class="col-md-2 col-form-label tooltip-wrapper" for="receiverName">
      Nazwa odbiorcy
      <span appTooltip [info]="'Dane osoby, do której zostanie wysłany przelew'">?</span>
    </label>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="receiverName" id="receiverName">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h4>additional data</h4>
    </div>
    <div class="col-9">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="fromAccount">
          Z rachunku
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="fromAccount" id="fromAccount">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="toAccount">
          Na rachunek
          <span appTooltip [info]="'Dane osoby, do której zostanie wysłany przelew'">?</span>
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="toAccount" id="toAccount">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="amount">Kwota</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="amount" id="amount">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="transferTitle">Tytuł przelewu</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="transferTitle" id="transferTitle">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="realizationDate">Data przelewu</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="realizationDate" id="realizationDate">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="transferType">
          Rodzaj przelewu
          <span appTooltip [info]="'Dane osoby, do której zostanie wysłany przelew'">?</span>
        </label>
        <div class="col-sm-9">
          <div class="row">
            <div *ngFor="let transfer of transferList; " class="col-sm-4 transfer-option">
              <div class="checkbox-wrapper">
                <input class="one-time-transfer-checkbox" type="checkbox" formControlName="transferType">
              </div>
              <div class="transfer-option-wrapper">
                <p class="transfer-option-title">{{transfer.title}}</p>
                <p class="transfer-option-data">{{transfer.data}}</p>
                <p class="transfer-option-price">{{transfer.price}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="additionalOptions">
          Opcje dodatkowe
        </label>
        <div class="col-sm-9">
          <input type="checkbox" class="one-time-transfer-checkbox" formControlName="additionalOptions"
            id="additionalOptions">
          <span>Wyślij e-mail z potwierdzeniem przelewu</span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Wyślij</button>
    </div>
  </div>
</form>
