p {
  font-size: 14px;
}

.customTooltip {
  position: relative;
  border: 1px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 10px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  vertical-align: middle;
  left: 5px;
}

.customTooltip:hover {
  background-color: grey;
  color: white;
}

.one-time-transfer-form .col-form-label{
  font-size: 15px;
}

.transfer-option-title {
  font-size: 13px;
  font-weight: bold;
}

.transfer-option-data {
  font-size: 12px;
}

.transfer-option-price {
  font-size: 12px;
}

.transfer-option {
  display: flex;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}
