<h2>Please fill this form</h2>
<form [formGroup]="formGroup">
  <div>
    <label>
      Payment account
      <select formControlName="paymentAccount">
        <option *ngFor="let item of allAccounts" [value]="item.id">
          {{ item.id }} {{ item.name }}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>
      Additional account
      <input [formControlName]="'additionalAccount'" />
    </label>
  </div>
  <div>
    <label
      >Repayment account
      <select formControlName="repaymentAccount">
          <option *ngFor="let item of allAccounts" [value]="item.id">
            {{ item.id }} {{ item.name }}
          </option>
        </select>
    </label>
  </div>
</form>
