:root {
  --navbar-height: 40px;
  --color-light: rgba(0, 0, 0, 0.1);
}

li a:hover {
  text-decoration: none;
}

.link-active {
  font-weight: bold;
}

.link-active:after {
  content: "";
  width: 35px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: tomato;
  top: var(--navbar-height);
  z-index: 100;
}

.list-inline-item {
  position: relative;
}

.list-inline:after {
  content: "";
  width: 100%;
  max-width: 100%;
  height: 3px;
  position: absolute;
  background-color: var(--color-light);
  top: calc(var(--navbar-height) + 5px);
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

div.customTooltip-info {
  text-align: left;
  border: 1px solid black;
  display: block;
  position: absolute;
  padding: 10px 20px;
  background-color: white;
  line-height: 20px;
  z-index: 100;
  border-radius: 5px;
}

.validation-info {
  position: absolute;
  left: -15px;
  top: 5px;
  margin-right: 15px;
}

.validation-info-valid-false {
  color: red;
}

.validation-info-valid-true {
  color: green;
}
